<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.danito.hola-mundo</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>/TestingLAUNCHD/echo.sh</string>
	</array>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>19</integer>
		<key>Minute</key>
		<integer>40</integer>
	</dict>
	<key>StandardOutPath</key>
	<string>/TestingLAUNCHD/launchd_out.log</string>
	<key>StandardErrorPath</key>
	<string>/TestingLAUNCHD/launchd_err_out.log</string>
</dict>
</plist>
